@charset "UTF-8";
/* CSS Document */
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	}
html{height:100%;width:100%;}
body{
	background:url(../images/photo-1.jpg) no-repeat center center fixed;
	background-size: cover;
	color:#333;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	height:100%;
	width:100%;
	}
a{text-decoration:none;}
ul{list-style:none;}
h1, h2, h3{font-family:"Open Sans Bold", sans-serif;font-weight:400;}
.pull-left{float:left;}
.pull-right{float:right;}
.clearfix{zoom:1;}
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.mrg-btm-20{margin-bottom:20px;}

/* wrapper */
.wrapper{
	
	}
/* containers */
.container-full{width:100%;}
.container-auto{
	margin:0 auto;
	width:1120px;
	}

/* transparent-bg */
.transparent-bg{
	border-radius:4px;
	background:rgba(0,0,0,0.7);
	}

/* headers */
.main-header{
	background:rgba(0,0,0,0.4);
	position:fixed;
	width:100%;
	z-index:3;
	}
/* logo */
.logo h2{color:#fff;line-height:69px;}

/* nav */
.nav{}
.nav > ul{}
.nav > ul > li{display:block;float:left;}
.nav > ul > li > a{
	color:#fff;
	display:block;
	font-size:13px;
	padding:26px 15px;
	text-transform:uppercase;
	}
.nav > ul > li > a:hover{background:#02c0f8;}

/* banner */
.banner{
	height:650px;
	overflow:hidden;
	}
.banner img{
	height:100%;
	object-fit:cover;
	width:100%;
	}
.banner video{width:100%;}
/* intro */
.intro{
	border-radius:4px;
	background:#02c0f8;
	padding:20px 0;
	}
.intro h3{color:#fff;font-family:"Roboto Light", sans-serif;font-size:22px;text-align:center;}

/* latest */
.latest{
	height:200px;
	padding:20px;
	}
.latest-header{
	color:#02c0f8;
	font-family:"Raleway", sans-serif;
	font-size:18px;
	text-transform:uppercase;
	}
	/*START*/
.map{padding-top:90px; padding-left:20px;}

input, textarea {
	margin: 10px; padding: 10px;
	border: 1px; solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-right: 10px;
	color:#FFF;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	width: 100px; 
	height: 40px; padding:5px; background-color: transparent
	color: #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}
.sp1 { margin:auto; padding:70px; width:auto; height:auto;}